<template>
  <div class="about">
    <critical-path></critical-path>
  </div>
</template>

<script>
import CriticalPath from "../components/CriticalPath.vue";
export default {
  components : {
    CriticalPath
  }
}
</script>