<template>
  <div class="home">
    <adjacency-matrix ></adjacency-matrix>
  </div>
</template>

<script>
import AdjacencyMatrix from "../components/AdjacencyMatrix.vue";
// @ is an alias to /src
//import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "Home",
  components: {
    AdjacencyMatrix
  },

  data() {
    return {
      matrix : []
    }
  },
};
</script>
