<template>
  <div>
    <div>
        <h1>Algoritmo de Kruskal</h1>
      <!-- <h2>Nodos</h2>
      <el-input-number
        placeholder="Número de nodos"
        v-model="nodeNumber"
        :min="0"
        :max="10"
        clearable
        @change="generateData()"
      >
      </el-input-number> -->
    </div>


    <div>
        <canvas id="canvas" style="border: 1px solid black" width="1280" height="360" @click="addNode">
            Not available
        </canvas>
    </div>    

    <div>
        <el-button type="success" @click="drawGraph">Generar Grafo</el-button>
        <el-button type="success" @click="kruskal">Kruskal</el-button>
    </div>

    <div v-if="calculated">
        <h2>Costo = {{cost}} </h2>
    </div>

    <div>
        <div v-if="nodeNumber > 0">
            <h2>Matriz de Adyacencia</h2>
            <table>     
                <tr>
                    <td></td>
                    <td v-for="(row, index) in adjMatrix" :key="index"> Nodo {{ index + 1 }}</td>
                </tr>                

                <tr v-for="(row, index) in adjMatrix" :key="index">
                    <td>Nodo {{ index + 1 }}</td>
                    <td v-for="(col, index2) in row" :key="index2">
                        <div v-if="index2 > index">
                            <el-input-number
                            placeholder="Peso"
                            v-model="adjMatrix[index][index2]"
                            :min="0"
                            :max="100"
                            clearable
                            >
                            </el-input-number>                            
                        </div>
                        <div v-else>
                            <el-input-number
                            placeholder="Peso"
                            v-model="adjMatrix[index][index2]"
                            :min="0"
                            :max="100"
                            clearable
                            :disabled="true"
                            >
                            </el-input-number>                              
                        </div>
                    </td>
                </tr>
            </table>
        </div>



    </div>

  </div>
</template>

<script>
import { Button, InputNumber } from "element-ui";

export default {
  name: "AdjacencyMatrix",

  components: {
    [Button.name]: Button,
    [InputNumber.name]: InputNumber
  },

  data() {
    return {
      nodeNumber: 0, 
      vueCanvas : null,
      nodes : [],
      edges : [],
      tree : [],
      adjMatrix : [],
      cost : 0,
      calculated : false

    };
  },

  methods: {
    generateData() {
      this.adjMatrix = [];
      for (let i = 0; i < this.nodeNumber; i++) {
        let row = [];
        for (let j = 0; j < this.nodeNumber; j++) {
          row.push(0);
        }
        this.adjMatrix.push(row);
      }
    },

    addNode : function(event){
    

        let node = this.createNode(this.nodeNumber,event.offsetX,event.offsetY);
        this.nodes.push(node);        
        
        this.vueCanvas.beginPath();
        this.vueCanvas.fillStyle = "#ff5e00";
        this.vueCanvas.arc(event.offsetX+5,event.offsetY-5,15,0,Math.PI*2,true);
        this.vueCanvas.stroke();

        this.vueCanvas.font = "20px Arial";
        this.vueCanvas.fillText(this.nodeNumber+1, event.offsetX,event.offsetY);


        this.nodeNumber++;

        this.generateData();


            
    },

    createNode(id,x,y){
        let node = {};
        node.id = id;
        node.x = x;
        node.y = y;

        return node;

    },

    drawNode(node){
        this.vueCanvas.beginPath();
        this.vueCanvas.fillStyle = "#ff5e00";

        this.vueCanvas.strokeStyle = "#000000";             
            
        this.vueCanvas.lineWidth = 2; 

        this.vueCanvas.arc(node.x+5,node.y-5,15,0,Math.PI*2,true);
        this.vueCanvas.stroke();

        this.vueCanvas.font = "20px Arial";
        this.vueCanvas.fillText(node.id +1, node.x,node.y);        
    },

    drawEdge(nodeOrigin, nodeDestiny, weight){
        this.vueCanvas.beginPath();
        this.vueCanvas.fillStyle = "#FF0000";                    
        this.vueCanvas.moveTo(nodeOrigin.x, nodeOrigin.y);
        this.vueCanvas.lineTo(nodeDestiny.x, nodeDestiny.y);

        this.vueCanvas.font = "20px Arial";
        this.vueCanvas.fillText(weight, (nodeDestiny.x+nodeOrigin.x)/2,(nodeDestiny.y+nodeOrigin.y)/2);

        this.vueCanvas.stroke();
    },

    drawGraph(){

        this.edges = [];

        for(let i = 0; i < this.nodeNumber; i++){
            for(let j = 0; j < this.nodeNumber; j++){

                let nodeOrigin = this.nodes[i];
                let nodeDestiny = this.nodes[j];



                if(this.adjMatrix[i][j] > 0){
                    /** 
                    this.vueCanvas.beginPath();
                    this.vueCanvas.fillStyle = "#FF0000";                    
                    this.vueCanvas.moveTo(nodeOrigin.x, nodeOrigin.y);
                    this.vueCanvas.lineTo(nodeDestiny.x, nodeDestiny.y);

                    this.vueCanvas.font = "20px Arial";
                    this.vueCanvas.fillText(this.adjMatrix[i][j], (nodeDestiny.x+nodeOrigin.x)/2,(nodeDestiny.y+nodeOrigin.y)/2);

                    this.vueCanvas.stroke();
                    */

                    this.drawEdge(nodeOrigin,nodeDestiny, this.adjMatrix[i][j]);
                    let edge = {
                        start : nodeOrigin.id,
                        end : nodeDestiny.id,
                        weight : this.adjMatrix[i][j]
                    }

                    this.edges.push(edge);                    
                }

            }
        }                
    },


    kruskal(){



        let subsets = [];
        let results = [];
        let edges = this.getEdgeList();


        let e = 0;
        //let j = 0;

        for(let i = 0; i < this.nodeNumber; i++){            
            let individual_set = this.createSubset(this.nodes[i].id,0);            
            subsets.push(individual_set);
        }

        console.log(subsets);

        while(e < (this.nodeNumber - 1) ){

            let next_edge = edges.shift();

            let x = this.find(subsets, next_edge.start);
            let y = this.find(subsets, next_edge.end);

            if( x != y){
                e += 1;
                results.push(next_edge);
                this.union(subsets, x, y);
                console.log(subsets);
            }            
        }

        console.log(subsets);
        console.log(results);

        let cost = 0;



        for(let i =0; i < results.length ; i++){
            cost += results[i].weight;

            this.vueCanvas.beginPath();

            this.vueCanvas.strokeStyle = "#0000ff";             
            
            this.vueCanvas.lineWidth = 3;            
                
            
            let origin = results[i].start;
            let destiny = results[i].end;

            this.drawNode(this.nodes[origin]);
            this.drawNode(this.nodes[destiny]);
            
            this.vueCanvas.moveTo(this.nodes[origin].x, this.nodes[origin].y);
            this.vueCanvas.lineTo(this.nodes[destiny].x, this.nodes[destiny].y);

            this.vueCanvas.font = "20px Arial";            
            this.vueCanvas.fillStyle = "#0000ff";
            this.vueCanvas.fillText(results[i].weight, (this.nodes[origin].x+this.nodes[destiny].x)/2,(this.nodes[origin].y+this.nodes[destiny].y)/2);            

            this.vueCanvas.stroke();

        }

        this.cost = cost != undefined ? cost : 0;

        if(this.cost != undefined || this.cost != null){
            this.calculated = true;
        }

    },

    getEdgeList(){

        let edges = this.edges;

        edges.sort( (a,b) => {
            if(a.weight > b.weight){
                return 1;
            }
            if(a.weight < b.weight){
                return -1;
            }
            if(a.weight == b.weight){
                return 0;    
            }            
        });

        return edges;
    },

    createSubset(par, rank){
        let subset = {
            parent : par,
            rank : rank
        };

        return subset;
    },

    find(subsets, i){
        if(subsets[i].parent == i){
            return i;
        }

        return this.find(subsets, subsets[i].parent);
    },

    union(subsets, x, y){
        let xRoot = this.find(subsets, x);
        let yRoot = this.find(subsets, y);

        if(subsets[xRoot].rank < subsets[yRoot].rank){
            subsets[xRoot].parent = yRoot;
        }
        else if(subsets[xRoot].rank > subsets[yRoot].rank){
            subsets[yRoot].parent = xRoot;
        }
        else{
            subsets[yRoot].parent = xRoot;
            subsets[xRoot].rank += 1;
        }
    }

  },
  mounted() {
        var c = document.getElementById("canvas");
        var ctx = c.getContext("2d");    
        this.vueCanvas = ctx;
  },
};
</script>

<style></style>
