<template>
  <div>
    <div>
        <h1>Algoritmo de Ruta Crítica</h1>
      <!-- <h2>Nodos</h2>
      <el-input-number
        placeholder="Número de nodos"
        v-model="nodeNumber"
        :min="0"
        :max="10"
        clearable
        @change="generateData()"
      >
      </el-input-number> -->
    </div>


    <div>
        <canvas id="canvas" style="border: 1px solid black" width="1280" height="480" @click="addNode">
            Not available
        </canvas>
    </div>    

    <div>
        <el-button type="success" @click="drawGraph">Generar Grafo</el-button>
        <el-button type="success" @click="criticalPath">Generar Ruta Crítica</el-button>
    </div>

    <div v-if="calculated">
        <h2>Costo = {{cost}} </h2>
            <h3>Tiempos más tempranos</h3>
            <table>     
                <tr >
                    <td v-for="(tarea,index) in tareasTempranas" :key="index">{{index+1}}</td>
                </tr>                

                <tr>
                    <td v-for="(tarea,index) in tareasTempranas" :key="index">{{tarea}}</td>
                </tr>
            </table>        

            <h3>Tareas más tarde</h3>
            <table>     
                <tr >
                    <td v-for="(tarea,index) in tareasTardias" :key="index">{{index+1}}</td>
                </tr>                

                <tr>
                    <td v-for="(tarea,index) in tareasTardias" :key="index">{{tarea}}</td>
                </tr>
            </table> 

            
            <h3>Actividades más temprano</h3>
            <table>     
                <tr >
                    <td v-for="(tarea,index) in actsTempranas" :key="index">{{index+1}}</td>
                </tr>                

                <tr>
                    <td v-for="(tarea,index) in actsTempranas" :key="index">{{tarea}}</td>
                </tr>
            </table>        

            <h3>Actividades más tarde</h3>
            <table>     
                <tr >
                    <td v-for="(tarea,index) in actsTardias" :key="index">{{index+1}}</td>
                </tr>                

                <tr>
                    <td v-for="(tarea,index) in actsTardias" :key="index">{{tarea}}</td>
                </tr>
            </table> 


    </div>

    <div>
        <div v-if="nodeNumber > 0">
            <h2>Matriz de Adyacencia</h2>
            <table>     
                <tr >
                    <td></td>
                    <td>Adyacencia,Actividad,Duracion</td>
                    <td>Adyacencia,Actividad,Duracion</td>
                    <td>Adyacencia,Actividad,Duracion</td>
                    <td>Adyacencia,Actividad,Duracion</td>
                </tr>                

                <tr v-for="(row, index) in activityData" :key="index">
                    <td>Nodo {{ index + 1 }}</td>
                    <td v-for="(col, index2) in row" :key="index2">
                        <div>
                            <el-input
                            placeholder=""
                            v-model="activityData[index][index2]"

                            clearable
                            >
                            </el-input>                            
                        </div>
                    </td>
                </tr>
            </table>
        </div>



    </div>

  </div>
</template>

<script>
import { Button, InputNumber, Input } from "element-ui";

export default {
  name: "CriticalPath",

  components: {
    [Button.name]: Button,
    [InputNumber.name] : InputNumber,
    [Input.name] : Input
  },

  data() {
    return {
      nodeNumber: 0, 
      vueCanvas : null,
      nodes : [],
      edges : [],
      reverseEdges : [],
      tree : [],
      adjMatrix : [],
      activityData : [],
      cost : 0,
      calculated : false,
      edgeList: [],
      reverseEdgeList : [],

      tareasTempranas: [],
      tareasTardias : [],
      actsTempranas : [],
      actsTardias : [],

      criticalEdges : [],
      criticalNodes : []

    };
  },

  methods: {
    generateData() {

        this.activityData = [];
        let data_items = 4;
        for(let i = 0; i < this.nodeNumber; i++){
            let row = [];
            for(let j = 0; j < data_items; j++){
                row.push("");
            }    
            this.activityData.push(row);
        }
        
      
    },

    createAdjMatrix(){
        let size = this.nodeNumber;
        for(let i = 0; i < size; i++){
            let row = [];
            for(let j = 0; j < size; j++){
                row.push(0);
            }
            this.adjMatrix.push(row);
        }

    },

    fillAdjMatrix(){
        this.createAdjMatrix();
        for(let i = 0; i < this.nodeNumber; i++){
            for(let j = 0; j < 4; j++){
                let activity = this.getInputCellTableData(i,j);
                if(activity.length > 0){
                    let edge = {
                        start : i,
                        activity_id : activity[1],
                        end : parseInt(activity[0]) - 1,
                        weight : parseInt(activity[2])
                    }

                    let reverse_edge = {                        
                        start : parseInt(activity[0]) - 1,
                        activity_id : activity[1],
                        end : i,
                        weight : parseInt(activity[2])
                    }

                    let end = parseInt(activity[0]) - 1;
                    this.adjMatrix[i][end] = parseInt(activity[2]);
                    this.edges.push(edge); 
                    this.reverseEdges.push(reverse_edge); 
                }                
            }
        }

    },

    getInputCellTableData(row, column){
        if(this.activityData[row][column] != ''){
            let data = this.activityData[row][column];
            let activity = data.trim().split(",");
            return activity;

        }
        else{
            return [];
        }
    },

    addNode : function(event){
    

        let node = this.createNode(this.nodeNumber,event.offsetX,event.offsetY);
        this.nodes.push(node);        
        

        this.drawNode(node);
        /*
        this.vueCanvas.beginPath();
        this.vueCanvas.fillStyle = "#ff5e00";
        this.vueCanvas.arc(event.offsetX+5,event.offsetY-5,15,0,Math.PI*2,true);
        this.vueCanvas.stroke();

        this.vueCanvas.font = "20px Arial";
        this.vueCanvas.fillText(this.nodeNumber+1, event.offsetX,event.offsetY);
        */

        this.nodeNumber++;

        this.generateData();


            
    },

    createNode(id,x,y){
        let node = {};
        node.id = id;
        node.x = x;
        node.y = y;

        node.earlyStart = -1;
        node.lateStart = -1;

        return node;

    },

    drawNode(node){
        this.vueCanvas.beginPath();
        this.vueCanvas.fillStyle = "#ff5e00";

        this.vueCanvas.strokeStyle = "#000000";             
            
        this.vueCanvas.lineWidth = 2; 

        this.vueCanvas.arc(node.x+5,node.y-5,15,0,Math.PI*2,true);
        this.vueCanvas.stroke();

        this.vueCanvas.font = "20px Arial";
        this.vueCanvas.fillText(node.id +1, node.x,node.y);        
    },
    
    drawCriticalNode(node){
        this.vueCanvas.beginPath();
        this.vueCanvas.fillStyle = "#ff5e00";

        this.vueCanvas.strokeStyle = "#ff0000";             
            
        this.vueCanvas.lineWidth = 5; 

        this.vueCanvas.arc(node.x+5,node.y-5,15,0,Math.PI*2,true);
        this.vueCanvas.stroke();

        this.vueCanvas.font = "20px Arial";
        this.vueCanvas.fillText(node.id +1, node.x,node.y);    
        
        this.vueCanvas.font = "20px Arial";
        this.vueCanvas.fillText(node.earlyStart, node.x,node.y-25);          

        this.vueCanvas.font = "20px Arial";
        this.vueCanvas.fillText(node.lateStart, node.x,node.y+25);          

    },    
    
    

    drawEdge(nodeOrigin, nodeDestiny, weight, id){
        this.vueCanvas.beginPath();
        this.vueCanvas.fillStyle = "#FF0000";                    
        //this.vueCanvas.moveTo(nodeOrigin.x, nodeOrigin.y);
        //this.vueCanvas.lineTo(nodeDestiny.x, nodeDestiny.y);

        this.vueCanvas.font = "20px Arial";
        

        this.vueCanvas.fillText("a"+id+"="+weight, (nodeDestiny.x+nodeOrigin.x)/2,(nodeDestiny.y+nodeOrigin.y)/2);

        let dx = nodeDestiny.x - nodeOrigin.x;
        let dy = nodeDestiny.y - nodeOrigin.y;
        let head = 10;
        let angle = Math.atan(dy,dx);
        this.vueCanvas.moveTo(nodeOrigin.x, nodeOrigin.y);
        this.vueCanvas.lineTo(nodeDestiny.x, nodeDestiny.y);
        this.vueCanvas.lineTo(nodeDestiny.x - head * Math.cos(angle - Math.PI /6), nodeDestiny.y - head * Math.sin(angle - Math.PI /6) );
        this.vueCanvas.moveTo(nodeDestiny.x, nodeDestiny.y);
        this.vueCanvas.lineTo(nodeDestiny.x - head * Math.cos(angle - Math.PI /6), nodeDestiny.y - head * Math.sin(angle - Math.PI /6) );


        this.vueCanvas.stroke();
    },


    drawCriticalEdge(nodeOrigin, nodeDestiny, weight, id){
        this.vueCanvas.beginPath();
        this.vueCanvas.fillStyle = "#FF0000";         
        
        this.vueCanvas.strokeStyle = "#0800ff";              
        //this.vueCanvas.moveTo(nodeOrigin.x, nodeOrigin.y);
        //this.vueCanvas.lineTo(nodeDestiny.x, nodeDestiny.y);

        this.vueCanvas.font = "20px Arial";
        

        this.vueCanvas.fillText("a"+id+"="+weight, (nodeDestiny.x+nodeOrigin.x)/2,(nodeDestiny.y+nodeOrigin.y)/2);

        let dx = nodeDestiny.x - nodeOrigin.x;
        let dy = nodeDestiny.y - nodeOrigin.y;
        let head = 10;
        let angle = Math.atan(dy,dx);
        this.vueCanvas.moveTo(nodeOrigin.x, nodeOrigin.y);
        this.vueCanvas.lineTo(nodeDestiny.x, nodeDestiny.y);
        this.vueCanvas.lineTo(nodeDestiny.x - head * Math.cos(angle - Math.PI /6), nodeDestiny.y - head * Math.sin(angle - Math.PI /6) );
        this.vueCanvas.moveTo(nodeDestiny.x, nodeDestiny.y);
        this.vueCanvas.lineTo(nodeDestiny.x - head * Math.cos(angle - Math.PI /6), nodeDestiny.y - head * Math.sin(angle - Math.PI /6) );


        this.vueCanvas.stroke();
    },    

    drawGraph(){

        this.edges = [];
        this.fillAdjMatrix();

        this.edges.forEach( edge => {
            let nodeStart = edge.start;
            let nodeDest = edge.end;

            this.drawEdge(this.nodes[nodeStart],this.nodes[nodeDest],edge.weight,edge.activity_id);
        })

        /*
        for(let i = 0; i < this.nodeNumber; i++){
            for(let j = 0; j < this.nodeNumber; j++){

                let nodeOrigin = this.nodes[i];
                let nodeDestiny = this.nodes[j];



                if(this.adjMatrix[i][j] > 0){
                    /** 
                    this.vueCanvas.beginPath();
                    this.vueCanvas.fillStyle = "#FF0000";                    
                    this.vueCanvas.moveTo(nodeOrigin.x, nodeOrigin.y);
                    this.vueCanvas.lineTo(nodeDestiny.x, nodeDestiny.y);

                    this.vueCanvas.font = "20px Arial";
                    this.vueCanvas.fillText(this.adjMatrix[i][j], (nodeDestiny.x+nodeOrigin.x)/2,(nodeDestiny.y+nodeOrigin.y)/2);

                    this.vueCanvas.stroke();
                    

                    this.drawEdge(nodeOrigin,nodeDestiny, this.adjMatrix[i][j]);
                    let edge = {
                        start : nodeOrigin.id,
                        end : nodeDestiny.id,
                        weight : this.adjMatrix[i][j]
                    }

                    this.edges.push(edge);                    
                }

            }
        }
        */                
    },

    topological_sort(edges){
        let indegree = [];
        for(let i = 0; i < this.nodeNumber; i++){
            indegree.push(0);
        }

        for(let i = 0; i < this.nodeNumber; i++){
            let temp = edges.filter( x => x.start == i);
            for(let j = 0; j < temp.length; j++){
                indegree[temp[j].end] += 1;
            }
        }

        let q = [];

        for(let i = 0; i < this.nodeNumber; i++){
            if(indegree[i] == 0){
                q.push(i);
            }
        }

        
        
        let topOrder = [];
        var cnt = 0;

        while(q.length > 0){
            let u = q.shift();
            topOrder.push(u);

            //for()

            let temp = edges.filter( x => x.start == u);

            for(let j = 0; j < temp.length; j++){
                if(--indegree[temp[j].end] == 0){
                    q.push(temp[j].end);
                }
            }

            cnt = cnt + 1;
        }

        return topOrder;

    },

    visit(index){

        let adjacentNodes = this.edges.filter( x => x.start == index);
            

        for(let i = 0; i < adjacentNodes.length; i++){            
            if(this.nodes[adjacentNodes[i].end].earlyStart == -1){
                this.nodes[adjacentNodes[i].end].earlyStart = this.nodes[index].earlyStart + adjacentNodes[i].weight;
            }
            if(this.nodes[adjacentNodes[i].end].earlyStart < this.nodes[index].earlyStart + adjacentNodes[i].weight){
                this.nodes[adjacentNodes[i].end].earlyStart = this.nodes[index].earlyStart + adjacentNodes[i].weight;
            }
        }


    },


    reverseVisit(index){

        let adjacentNodes = this.reverseEdges.filter( x => x.start == index);
            

        for(let i = 0; i < adjacentNodes.length; i++){            
            if(this.nodes[adjacentNodes[i].end].lateStart == -1){
                this.nodes[adjacentNodes[i].end].lateStart = this.nodes[index].lateStart - adjacentNodes[i].weight;
            }
            if(this.nodes[adjacentNodes[i].end].lateStart > this.nodes[index].lateStart - adjacentNodes[i].weight){
                this.nodes[adjacentNodes[i].end].lateStart = this.nodes[index].lateStart - adjacentNodes[i].weight;
            }

            let pos = parseInt(adjacentNodes[i].activity_id) -1 ;
            this.actsTardias[pos] = this.nodes[index].lateStart - adjacentNodes[i].weight;
        }


    },    


    kruskal(){



        let subsets = [];
        let results = [];
        let edges = this.getEdgeList();


        let e = 0;
        //let j = 0;

        for(let i = 0; i < this.nodeNumber; i++){            
            let individual_set = this.createSubset(this.nodes[i].id,0);            
            subsets.push(individual_set);
        }

        console.log(subsets);

        while(e < (this.nodeNumber - 1) ){

            let next_edge = edges.shift();

            let x = this.find(subsets, next_edge.start);
            let y = this.find(subsets, next_edge.end);

            if( x != y){
                e += 1;
                results.push(next_edge);
                this.union(subsets, x, y);
                console.log(subsets);
            }            
        }

        console.log(subsets);
        console.log(results);

        let cost = 0;



        for(let i =0; i < results.length ; i++){
            cost += results[i].weight;

            this.vueCanvas.beginPath();

            this.vueCanvas.strokeStyle = "#0000ff";             
            
            this.vueCanvas.lineWidth = 3;            
                
            
            let origin = results[i].start;
            let destiny = results[i].end;

            this.drawNode(this.nodes[origin]);
            this.drawNode(this.nodes[destiny]);
            
            this.vueCanvas.moveTo(this.nodes[origin].x, this.nodes[origin].y);
            this.vueCanvas.lineTo(this.nodes[destiny].x, this.nodes[destiny].y);

            this.vueCanvas.font = "20px Arial";            
            this.vueCanvas.fillStyle = "#0000ff";
            this.vueCanvas.fillText(results[i].weight, (this.nodes[origin].x+this.nodes[destiny].x)/2,(this.nodes[origin].y+this.nodes[destiny].y)/2);            

            this.vueCanvas.stroke();

        }

        this.cost = cost != undefined ? cost : 0;

        if(this.cost != undefined || this.cost != null){
            this.calculated = true;
        }

    },

    getEdgeList(){

        let edges = this.edges;

        edges.sort( (a,b) => {
            if(a.weight > b.weight){
                return 1;
            }
            if(a.weight < b.weight){
                return -1;
            }
            if(a.weight == b.weight){
                return 0;    
            }            
        });

        return edges;
    },

    createSubset(par, rank){
        let subset = {
            parent : par,
            rank : rank
        };

        return subset;
    },

    find(subsets, i){
        if(subsets[i].parent == i){
            return i;
        }

        return this.find(subsets, subsets[i].parent);
    },

    union(subsets, x, y){
        let xRoot = this.find(subsets, x);
        let yRoot = this.find(subsets, y);

        if(subsets[xRoot].rank < subsets[yRoot].rank){
            subsets[xRoot].parent = yRoot;
        }
        else if(subsets[xRoot].rank > subsets[yRoot].rank){
            subsets[yRoot].parent = xRoot;
        }
        else{
            subsets[yRoot].parent = xRoot;
            subsets[xRoot].rank += 1;
        }
    },

    criticalPath(){
        let data = this.topological_sort(this.edges);        
        let data_1 = this.topological_sort(this.reverseEdges);
        
        let firstNode = data[0];
        let lastNode = data[data.length-1];


        let n = this.edges.length;
        for(let i = 0; i < n ; i++){
            this.actsTempranas.push(0);
            this.actsTardias.push(0);
        }


        this.nodes[firstNode].earlyStart = 0;

        while(data.length > 0){
            let actual_node = data.shift();
            this.visit(actual_node);
        }

        console.log(this.nodes.map(x => x.earlyStart));

        this.nodes[data_1[0]].lateStart = this.nodes[lastNode].earlyStart;
        this.cost = this.nodes[lastNode].earlyStart;

        while(data_1.length > 0){
            let actual_node = data_1.shift();
            this.reverseVisit(actual_node);
        }

        console.log(this.nodes.map(x => x.lateStart));
        

        

        
        this.tareasTempranas = this.nodes.map(x => x.earlyStart);
        this.tareasTardias = this.nodes.map(x => x.lateStart);



        for(let i = 0; i < n ; i++){
            let edge = this.edges[i];
            let pos = parseInt(edge.activity_id) -1;
            let node = this.nodes[edge.start];
            this.actsTempranas[pos] = node.earlyStart;            
            //this.actsTardias[pos] = node.lateStart;

        }



        for(let i = 0; i < n; i++){
            let timeDiff = this.actsTardias[i] - this.actsTempranas[i];
            if(timeDiff == 0){
                let selected_edge = this.edges.filter( x => (parseInt(x.activity_id) - 1) == i)[0]
                this.criticalEdges.push(selected_edge);
            }

        }

        for(let j = 0; j < this.nodeNumber ; j++){
            let timeDiff = this.tareasTardias[j] - this.tareasTempranas[j];
            if(timeDiff == 0){
                this.criticalNodes.push(this.nodes[j]);
            }
        }

        this.criticalEdges.forEach( edge => {            
            this.drawCriticalEdge(this.nodes[edge.start],this.nodes[edge.end],edge.weight,edge.activity_id);
        });

        this.criticalNodes.forEach( node => {
            this.drawCriticalNode(node);
        });

        this.calculated = true;
        

    }

  },
  mounted() {
        var c = document.getElementById("canvas");
        var ctx = c.getContext("2d");    
        this.vueCanvas = ctx;
  },
};
</script>

<style></style>
